@media (max-width: 767px) {
  
  .line2 {
    font-size: 15px;
    padding: 0px 20px;
  }
  .line3 {
    overflow-x: scroll;
    scrollbar-color: rgb(250, 250, 250);
    margin: 0 30px;
    button {
      margin-right: 30px;
    }
  }
  .box {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
    margin-top: 20px;
  }
  .box-text {
    padding: 40px 30px;
  }
  .box-headline {
    font-size: 24px;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .content {
    width: 1200px;
    margin-right: calc((100% - 1200px) / 2);
    margin-left: calc((100% - 1200px) / 2);
  }
  .line2 {
    font-size: 18px;
    padding: 20px 200px;
  }
  .line3 {
    margin: 0px 100px;
  }
  .box {
    display: flex;
    justify-content: space-between;
    margin: 30px 60px 0 60px;
  }
  .box-text {
    margin-right: 70px;

    margin-top: 90px;
  }
  .box-headline {
    font-size: 28px;
    line-height: 60px;
  }
}

.content {
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
.line1,
.line2,
.line3,
.line4 {
  text-align: center;
}

.line1 {
  font-size: 34px;
  font-weight: bold;
  padding-top: 60px;
  color: rgb(31, 27, 100);
}

.line3 {
  display: flex;
  justify-content: space-between;
  button {
    background-color: rgb(250, 250, 250);
    padding-bottom: 5px;
  }
}
.box {
  background-color: var(--primary-color);
  border-radius: 4px;
}
.active {
  border-bottom: 3px solid rgb(0, 222, 188) !important;

  &:hover {
    cursor: auto !important;
  }
}
.icon {
  font-size: 50px;
  margin: 30px;
}

.box-headline {
  font-weight: bold;
}

.box-text {
  display: inline;
  color: white;

  button {
    padding: 12px 0;

    &:hover {
      cursor: pointer !important;
    }
  }
}

.use-btn {
  margin-top: 20px;
}
