@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: rgb(28, 0, 194);
  --secondary-color: rgb(31, 27, 100);
}
a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

html {
  font-size: 15px;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  background-color: rgb(250, 250, 250);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

table {
  border-collapse: collapse;
}

.href {
  text-align: center;
  color: #3c8dbc;
  padding-left: 4px;
}

.white-btn {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
  }
}

.primary-btn {
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  &:hover {
    cursor: pointer;
  }
}

.nav-bar,
.nav-bar-no-color {
  &:hover {
    cursor: pointer;
  }
}

.nav-bar {
  &:hover {
    color: var(--primary-color);
  }
}

.heavy {
  font-weight: bold;
}

.purpose-btn {
  width: 178px;
  height: 38px;
  background-color: white;
  color: rgb(119, 128, 144);
  border-radius: 4px;
  &:hover {
    color: var(--primary-color);
    background-color: #f3f8fb;
    cursor: pointer;
  }
}
.purpose-btn.active {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: var(--primary-color);

  &:hover {
    cursor: auto;
  }
}

.head-line {
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
  padding-bottom: 16px;
}

.second-line {
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .no-mobile {
    display: none !important;
  }
    
  .header-btn {
    width: 35px;
    height: 35px;
  }
  .head-line {
    padding-top: 40px;
    font-size: 24px;
    margin: 0px 10px;
  }
  .second-line {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .no-desktop {
    display: none !important;
  }
  .head-line {
    font-size: 34px;
    line-height: 50px;
    margin: 90px 226px 0 226px;
  }
  .second-line {
    font-size: 18px;
  }
}
