@media (max-width: 767px) {
  .content {
    padding-top:60px;
    padding-bottom: 10px;
  }
  .line1 {
    font-size: 20px;
  }
  .line2 {
    font-size: 34px;
  }
  .background-img {
    background-size: contain;
  }
  .line3 {
    margin: 0px 20px;
  }
  .line4 {
    margin: 0 52px;
  }
  .line5 {
    button {
      margin: 0 5px;
      height: 58px;
      width: 190px;
    }
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .line1 {
    font-size: 24px;
  }
  .line2 {
    font-size: 48px;
    margin-right: calc((100% - 800px) / 2);
    margin-left: calc((100% - 800px) / 2);
  }
  .line5 {
    button {
      width: 258px;
      height: 58px;
      margin-left: 10px;
    }
  }
  .content {
    height: 740px;
    padding-top: 128px;
  }
}
.wrapper {
  margin-top: 78px;
  background-color: white;
}
.background-img {
  background-image: url(./Introduce-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.line1,
.line2,
.line3,
.line4,
.line5 {
  text-align: center;
}

.line1 {
  font-weight: bold;
  color: var(--primary-color);
}

.line2 {
  padding-bottom: 32px;
  font-weight: bold;
  color: rgb(31, 27, 99);
}

.line3 {
  padding-bottom: 16px;
  font-size: 18px;
}

.line4 {
  padding-bottom: 60px;
}
