@media (max-width: 1000px) {
  .wrapper {
    width: 400px;
  }
}
@media (min-width: 1001px) {
  .wrapper {
    width: 100%;
  }

  .content {
    width: 1200px;
    margin-right: calc((100% - 1200px) / 2);
    margin-left: calc((100% - 1200px) / 2);
  }
}

.text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 18px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
