@media (max-width: 767px) {
  .wrapper,
  .content {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 10px;
  }
  .supporter-img {
    width: 100%;
  }
  .head-line {
    font-size: 24px;
  }
  .livechat-img2 {
    top: 50px;
    left: -58px;
  }
  .sub-line {
    padding-right: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    margin-top: 90px;
  }

  .content {
    width: 1200px;
    height: 370px;
    margin-right: calc((100% - 1200px) / 2);
    margin-left: calc((100% - 1200px) / 2);
    display: flex;
  }
  .supporter-img {
    height: 100%;
  }
  .text {
    padding-top: 100px;
    padding-left: 90px;
  }
  .head-line {
    font-size: 34px;
    line-height: 50px;
  }
  .livechat-img2 {
    top: -30px;
    right: -103px;
  }
}

.image {
  position: relative;
}

.livechat-img1,
.livechat-img2,
.livechat-img3 {
  position: absolute;
  z-index: 11;
  animation: shake 20s 1s infinite;
}
.livechat-img1 {
  top: -22px;
  right: 146px;
  width: 165px;
  height: 165px;
}
.livechat-img2 {
  width: 190.5px;
  height: 127px;
}
.livechat-img3 {
  bottom: -31px;
  right: 4px;
  width: 200px;
  height: 200.362px;
  animation: reverse-shake 20s 1s infinite;
}

.head-line {
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 15px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes reverse-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-10px);
  }
}
