@media (max-width: 767px) {
  .wrapper,
  .content,
  .box-content {
    
    img {
      width: 100%;
      margin-top: 20px;
      padding: 0 5px;
    }
  }
  .content {
    margin: 0 10px;
  }
  .box {
    margin-top: 25px;
  }
  .box-text {
    margin-left: 5px;
    margin-top: 10px;
    padding-bottom: 50px;
  }
  .usenowbtn {
    text-align: center;
    margin-top: 14px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .content,
  .box-content {
    width: 1200px;
    margin-right: calc((100% - 1200px) / 2);
    margin-left: calc((100% - 1200px) / 2);
  }
  .box {
    height: 500px;
  }
  .box-content {
    display: inline-flex;
  }
  .box-headline {
    line-height: 60px;
  }
  .box-text {
    margin-right: 70px;
    margin-left: 50px;
  }
  .usenowbtn {
    margin-top: 70px;
  }
}

.content {
  button {
    margin: 8px;
  }
}

.line3,
.line4 {
  text-align: center;
}

.box {
  width: 100%;
  background-color: var(--primary-color);
}

.box-content {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.box-headline {
  font-size: 28px;
  font-weight: bold;
}

.box-text {
  color: white;
  button {
    &:hover {
      cursor: pointer !important;
    }
  }
}

.box-line2 {
  margin-top: 20px;
}
