@media (max-width: 767px) {
  .wrapper,
  .content {
    
    margin: 20px 10px;
  }
  .reason {
    display: -webkit-inline-box;
    overflow-x: scroll;
  }
  .reason-box1 {
    padding: 0 20px;
    margin-right: -10px;
  }
  .head-line {
    line-height: 40px;
  }
  .sub-line {
    margin-right: -10px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .content {
    width: 1200px;
    margin-right: calc((100% - 1200px) / 2);
    margin-left: calc((100% - 1200px) / 2);
  }
  .reason {
    padding-top: 20px;
    height: 380px;
    display: flex;
    justify-content: space-between;
  }
  .reason-box1 {
    height: 350px;
    width: 380px;
  }
}
.reason-img {
  width: 120px;
  height: 120px;
}
.head-line {
  font-size: 18px;
  font-weight: bold;

  color: var(--secondary-color);
}
