@media (max-width: 767px) {
  .wrapper,
  .content {
    padding: 0 5px;
    font-size: 14px;
  }
  .col2,
  .col3 {
    margin-top: 20px !important;
  }
  .line1 {
    img {
      width: 143px;
      height: 52px;
    }
  }
}
@media (min-width: 768px) {
  .content {
    width: 1200px;
    margin-right: calc((100% - 1200px) / 2);
    margin-left: calc((100% - 1200px) / 2);
  }
  .wrapper {
    width: 100%;
    height: 676.69px;
    background-image: url("./background.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .line1 {
    img {
      width: 180px;
      height: 63px;
    }
  }
  .line2 {
    display: flex;
    justify-content: space-between;
  }
  .center-line {
    margin-top: 40px;
    text-align: center;
  }
  .hyper-line,
  .center-line {
    font-size: 18px;
  }
}
.wrapper {
  background-color: var(--primary-color);
  color: white;
}

.responsive {
  display: flex;
}

.hyper-line,
.center-line {
  font-weight: bold;
  padding-top: 28px;
  padding-bottom: 10px;
}

.line1 {
  padding-top: 30px;
}
.col2,
.col3 {
  margin: 0 80px 20px 0px;
}

.col2,
.col3 {
  a {
    display: block;
    color: white;
    line-height: 30px;
    &:hover {
      cursor: pointer;
      color: rgb(0, 222, 188);
    }
  }
}

.presented-by {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 94px;
    height: 36px;
    margin-right: 20px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;

  img {
    margin-left: 10px;
    margin-right: 10px;
    width: 106px;
    height: 40px;
  }
}
